
<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
            <div class="field">
              <div class="control has-icons-left">
                <form class="box"><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_GARHQYc3zl2tMT"> </script> </form>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
